html(lang="en")
	head
		block title
			title  my website - #{metadata.title}
		link(href='static/css/main.css', rel='stylesheet')
		script(src='static/js/main.js', type='text/javascript')
	body(class="fade-in")
		div
			div(class="tile cordova-logo")
			div(class="tile gear-logo")
			div(class="tile js-logo")
			div(class="clear")
			div(class="tile node-logo")
			div(class="logo-wrapper")
				div(class="logo")
			div(class="tile notes-logo")
			div(class="clear")
			div(class="tile cordova-logo")
			div(class="tile avatar-logo")
			div(class="tile phone-logo")

		div(class="bg blue-bg")
			| &nbsp;
